/* タブレット向けのレイアウト */
@media all and (max-width: 1000px) {

    .top-wrapper {
        width:800px;
    }

    .main-contents {
        width:87%;
        height:90%;
    }

    .right-contents li {
        margin-right: 80px;
        padding-right:70px;
    }
}

/* スマホ向けのレイアウト */
@media all and (max-width: 768px) {

    .top-wrapper {
        width:400px;
        height:800px;
        margin-bottom:80px;
    }

    .main-contents {
        margin:20px;
        margin-top:50px;
        height:95%;
        width:90.1%;
    }
    
    .main-left {
        display:block;
        width:100%;
        float:center;
    }

    .left-links {
        width:100%;
        text-align:center;
        margin-bottom:20px;
    }

    .left-links a.youtube-icon {
        margin-left: 0;
    }
    
    .main-right {
        float:none;
        display: inline-block;
        margin:0 auto
    }

    .right-contents li {
        text-align:center;
        padding-right:0px;
        padding:15px 75px;
        margin:0 50px;
    }
}




