@media all and (max-width: 768px) {

    .top-wrapper {
        width:400px;
        height:800px;
        margin-bottom:80px;
    }
    
    .main-left {
        display:block;
        width:100%;
        float:center;
    }

    .left-links {
        width:100%;
        text-align:center;
        margin-bottom:20px;
    }

    .main-right {
        float:none;
        display: inline-block;
        margin:0 auto
    }

    .right-contents li {
        text-align:center;
        padding-right:0px;
        padding:15px 75px;
        margin:0 50px;
    }

    .main-contents {
        margin:20px;
        margin-top:50px;
        height:95%;
    }
}